---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<svg width="61.865mm" height="44.692mm" version="1.1" viewBox="0 0 61.865 44.692" xmlns="http://www.w3.org/2000/svg">
			 <g transform="translate(-48.742 -84.491)">
			  <rect x="48.742" y="84.491" width="61.865" height="44.692" fill="#fff" stroke-width=".26458"/>
			  <ellipse cx="92.172" cy="108.11" rx="18.434" ry="11.004" fill="#5c5c5c" stroke-width=".22693"/>
			  <ellipse cx="79.371" cy="100.75" rx="21.054" ry="16.258" fill="#666" stroke-width=".24174"/>
			  <ellipse cx="63.497" cy="107.15" rx="14.754" ry="11.394" fill="#6c6c6c" stroke-width=".16941"/>
			  <ellipse cx="78.475" cy="112.27" rx="15.234" ry="9.3453" fill="#868686" stroke-width=".26458"/>
			  <text x="48.856777" y="129.09273" fill="#868686" font-family="Inter" font-size="8.4667px" stroke-width=".26458" xml:space="preserve"><tspan x="48.856777" y="129.09273" fill="#000000" font-family="Inter" font-size="8.4667px" font-weight="bold" stroke-width=".26458">Cobbled Cloud</tspan></text>
			 </g>
			</svg>	
			<p>
				Welcome to Cobbled Host, W.I.P Australian Hosting provider.

				<br>Providing state of the art servers cobbled together on my desk :D
			</p>
		</main>
		<Footer />
	</body>
</html>
