---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
		<svg
		   width="61.864563mm"
		   height="44.692295mm"
		   viewBox="0 0 61.864563 44.692295"
		   version="1.1"
		   id="svg1"
		   inkscape:version="1.4 (e7c3feb100, 2024-10-09)"
		   sodipodi:docname="cobbled.cloud.svg"
		   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
		   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
		   xmlns="http://www.w3.org/2000/svg"
		   xmlns:svg="http://www.w3.org/2000/svg">
		  <sodipodi:namedview
		     id="namedview1"
		     pagecolor="#ffffff"
		     bordercolor="#000000"
		     borderopacity="0.25"
		     inkscape:showpageshadow="2"
		     inkscape:pageopacity="0.0"
		     inkscape:pagecheckerboard="0"
		     inkscape:deskcolor="#d1d1d1"
		     inkscape:document-units="mm"
		     inkscape:zoom="1.4614334"
		     inkscape:cx="-26.343999"
		     inkscape:cy="80.058388"
		     inkscape:window-width="2560"
		     inkscape:window-height="1371"
		     inkscape:window-x="0"
		     inkscape:window-y="0"
		     inkscape:window-maximized="1"
		     inkscape:current-layer="layer1" />
		  <defs
		     id="defs1" />
		  <g
		     inkscape:label="Layer 1"
		     inkscape:groupmode="layer"
		     id="layer1"
		     transform="translate(-48.742335,-84.491385)">
		    <ellipse
		       style="fill:#5c5c5c;stroke-width:0.226932"
		       id="path2"
		       cx="92.172417"
		       cy="108.11057"
		       rx="18.434483"
		       ry="11.004118" />
		    <ellipse
		       style="fill:#666666;stroke-width:0.241741"
		       id="path1"
		       cx="79.370689"
		       cy="100.74957"
		       rx="21.05377"
		       ry="16.258188" />
		    <ellipse
		       style="fill:#6c6c6c;stroke-width:0.169409"
		       id="ellipse3"
		       cx="63.496552"
		       cy="107.15043"
		       rx="14.754216"
		       ry="11.393534" />
		    <ellipse
		       style="opacity:1;fill:#868686;stroke-width:0.264583"
		       id="path3"
		       cx="78.474571"
		       cy="112.27112"
		       rx="15.234052"
		       ry="9.3452587" />
		    <text
		       xml:space="preserve"
		       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:8.46667px;font-family:Inter;-inkscape-font-specification:Inter;text-align:start;writing-mode:lr-tb;direction:ltr;text-anchor:start;opacity:1;fill:#868686;stroke-width:0.264583"
		       x="48.856777"
		       y="129.09273"
		       id="text3"><tspan
			 sodipodi:role="line"
			 id="tspan3"
			 style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:8.46667px;font-family:Inter;-inkscape-font-specification:'Inter Bold';fill:#000000;fill-opacity:1;stroke-width:0.264583"
			 x="48.856777"
			 y="129.09273">Cobbled Cloud</tspan></text>
			  </g>
			</svg>
			<p>
				Welcome to Cobbled Host, W.I.P Australian Hosting provider.

				<br>Providing state of the art servers cobbled together on my desk :D
			</p>
		</main>
		<Footer />
	</body>
</html>
